<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.chat.dao.ChatDAO">
	
	<insert id="createChat" parameterType="chdto">
		INSERT INTO CHATLOG(CH_KEY, CH_NAME, CH_MSG, CH_DATE, CH_USER)
		VALUES(#{ch_key}, #{ch_name}, #{ch_msg}, SYSDATE, #{ch_user})
	</insert>
	
	<select id="getChat" parameterType="map">
		SELECT CH_KEY, CH_NAME, CH_MSG, CH_USER
		FROM CHATLOG
		WHERE CH_USER = #{ch_user}
		ORDER BY CH_DATE
	</select>
	
	<select id="getAdminChat" parameterType="map">
		SELECT CH_KEY, CH_NAME, CH_MSG, CH_USER
		FROM CHATLOG
		WHERE CH_KEY = #{ch_key}
		ORDER BY CH_DATE
	</select>
	
	<delete id="deleteChat" parameterType="chdto">
		DELETE FROM CHATLOG
		WHERE CH_USER = #{ch_user}
	</delete>
	
	<delete id="deleteAdminChat" parameterType="chdto">
		DELETE FROM CHATLOG
		WHERE CH_KEY = #{ch_key}
	</delete>
	
</mapper>