<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.cart.dao.CartDAO">
   	<select id="getCarts" parameterType="cto" resultType="cto">
    	SELECT * FROM
    		(SELECT ROWNUM AS RR, A.*
      			FROM
	  			(SELECT  C.C_NO, C.P_NO, P.P_NAME, C.QUANTITY, C.AMOUNT,
		       		M.MEM_ID, M.M_NAME, C_REGDATE, C.PRICE, M_ROLE,
		       		P.STOCK
			FROM CART C
			INNER JOIN PRODUCT P
				ON C.P_NO = P.P_NO
			INNER JOIN MEMBER M
		  		ON C.MEM_ID = M.MEM_ID
		  <if test="m_role=='mem'"><!-- mem_id!=null -->
     		 WHERE C.MEM_ID= #{mem_id} and #{m_role}='mem'<!--and이후에 삭제 -->
		  </if>
		ORDER BY C_NO DESC) A)
		<![CDATA[
		    WHERE RR>=#{startRow} AND RR <=#{endRow} 
	   	]]> 
  	</select>
  	
	<select id="getTotalCart" parameterType="string" resultType="int">
		SELECT count(C.C_NO)
		FROM CART C
			INNER JOIN PRODUCT P
				ON C.P_NO = P.P_NO
			INNER JOIN MEMBER M
				ON C.MEM_ID = M.MEM_ID
		<if test="mem_id!=null">
			WHERE C.MEM_ID= #{mem_id}
		</if>
	</select>
  	
  	<insert id="addCart" parameterType="cto" >
     	<selectKey keyProperty="c_no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(C_NO), 0)+1 AS C_NO FROM CART
		</selectKey>
	  	INSERT INTO CART(C_NO, PRICE, AMOUNT, QUANTITY, C_REGDATE, MEM_ID, P_NO)
		VALUES(#{c_no},#{price},#{price}*#{quantity}, #{quantity}, sysdate, #{mem_id}, #{p_no}) 
  	</insert>
  	
  	<update id="updateCart" parameterType="cto">
  		UPDATE CART SET
  		QUANTITY = #{quantity}
  		WHERE C_NO = #{c_no}
  	</update>
	
	<delete id="deleteCart" parameterType="cto">
		DELETE FROM CART
		WHERE  C_NO = #{c_no}
	</delete>
	
	<select id="chkCart" resultType="int">
		SELECT COUNT(*)
		FROM CART
		WHERE MEM_ID = #{mem_id}
		AND P_NO = #{p_no}
	</select>
	
	<update id="sumQunt">
		UPDATE CART 
		SET QUANTITY = QUANTITY + #{quantity}
		WHERE MEM_ID = #{mem_id}
		AND P_NO = #{p_no}
	</update>
	
	<delete id="clearCart" parameterType="list">
		DELETE FROM CART
		MEM_ID = #{mem_id}
	</delete>
	
	<!-- 주문취소 -->
	<update id ="orderCancle" parameterType="com.book.order.dto.OrderDTO" >
		DELETE FROM ORDERT 
		WHERE O_NO = #{o_no}
	</update>
	
	<update id="cartupdateSate" parameterType="cto">
		UPDATE PRODUCT SET
  		STOCK = STOCK + ${quantity}
  		WHERE P_NO = ${p_no}
	</update>
</mapper>









