@charset "UTF-8";
#productMgt a:link{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:visited{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:active{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:hover{color: black; text-decoration: none; font-weight: bold;}
#cart {
	margin: 50px auto;
	width: 1000px;
	height: 1000px;
}
#cart table {
	margin: 0 auto;
	width: 1000px;
	border-collapse: collapse;
}
#cart .title{
	padding: 25px;
	text-align: center;
	font-size: 25px;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
}
#cart #blank{
	text-align: right;
	padding: 41px 0 10px 0; 
}
.border td{
	border: 1px solid #cccccc;
	height: 60px;
	text-align: center;
	width: 600px;
}
.border th {
	height: 40px;
	text-align: center;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
}
.border .co1, .border .co2, .border .co3 , .border .co4, .border .co5, .border .co6{
	width: 167px;
}
.buttonArea{
	height: 100px;
}
.cartButton{
	font-weight: bold;
	background-color: #237AF6;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}
