@charset "UTF-8";
#memlist {
	margin: 0 auto;
	width: 1000px;
	height: 800px;
}
#memlist #tit {
	background-color: #00008B;
	padding: 25px;
	font-size: 25px;
	color: white;
}
#memlist table {
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
}
#memlist #totlist {
	text-align: right;
	padding: 20px 0 20px 0;
}
#memlist th {
	background-color: #00008B;
	color: white;
}
.bor th, .bor td {
	border: 1px solid #eeeeee;
}
#pwcheck {
	font-weight: bold;
	background-color: #dddddd;
	text-align: center;
	width: 340px;
	height: 130px;
	border-radius: 10px;
}
#pwinput input{
	width: 230px;
	height: 25px;
	border-radius: 5px;
}
#pwcheck #pwbtn input {
	font-weight: bold;
	background-color: #237AF6;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}