@charset "UTF-8";
#memlist {
	margin: 50px auto;
	width: 1000px;
	height: 1000px;
}
#memlist #tit {
	background-color: #00008B;
	padding: 25px;
	font-size: 25px;
	color: white;
	text-align: center;
	font-family: sans-serif;
	}
#memlist table {
	margin : 0 auto;
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
}
#memlist #totlist {
	text-align: right;
	padding: 20px 0 20px 0;
}
#memlist th {
	background-color: #00008B;
	color: white;
}
.bor th, .bor td {
	border: 1px solid #eeeeee;
}
.bor th{
	height: 40px;
	text-align: center;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
}
.bor td{
	height: 60px;
}
#pwcheck {
	font-weight: bold;
	background-color: #dddddd;
	text-align: center;
	width: 340px;
	height: 130px;
	border-radius: 10px;
}
#pwinput input{
	width: 230px;
	height: 25px;
	border-radius: 5px;
}
#pwcheck #pwbtn input {
	font-weight: bold;
	background-color: #237AF6;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}
#member {
	margin: 20px auto;
	width: 1000px;
	height: 650px;
}
#member table {
	margin: 0 auto;
	width: 800px;
	border-collapse: collapse;
}
#member td {
	height: 50px;
}
#member th {
	height: 100px;
	font-size: 25px;
	font-weight: bold;
	color: #00008B;
}
#member .col1 {
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	text-align: center;
	width: 150px;
}
#member .col2 {
	border-bottom: 2px solid #dddddd;
	border-left: 2px solid #dddddd;
	padding-left: 200px;
}
#member .col11 {
	border-right: 2px solid #dddddd;
		text-align: center;
}
#member .col22 {
	border-left: 2px solid #dddddd;
	padding-left: 200px;
}
#member .tabBtn {
	text-align: center;
	height: 150px;	
}
#member .tabBtn #btn2{
	font-weight: bold;
	background-color: #00008B;
	color: white;
	border: 2px solid #00008B;
	border-radius: 10px;
	font-size: 15px;
	padding: 15px;
}
#member .tabBtn #btn1{
	font-weight: bold;
	color: #00008B;
	background-color: white;
	border: 2px solid #00008B;
	border-radius: 10px;
	font-size: 15px;
	padding: 15px;
}
#member .tableBtn #btn2{
	font-weight: bold;
	background-color: #00008B;
	color: white;
	border: 2px solid #00008B;
	border-radius: 10px;
	font-size: 15px;
	padding: 15px;
}
#member .tableBtn {
	text-align: center;
	height: 100px;
}
#joinform {
	margin: 20px auto;
	width: 1000px;
	height: 800px;
}
#joinform table {
	width: 1000px;
	border-collapse: collapse;
}
#joinTitle {
	height: 70px;
	font-size: 20px;
	text-align: left;
} 
#joinTitle th{
	padding-left: 40px;
	border-bottom: 2px solid #00008B;
}
#joinform tbody td{
	height: 60px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
#joinform .col1 {
	background-color: #F3F5FF;
	padding-left: 40px;
	width: 200px;
}
#joinform .col2 {
	padding-left: 40px;
}
#joinform .col2 input {
	border: 2px solid #F3F5FF;
	height: 30px;
	width: 300px;
}
#joinform tfoot tr {
	height: 40px;
	text-align: center;
}
#joinform tfoot td {
	height: 100px;
}
#joinform tfoot button {
	font-weight: bold;
	background-color: white;
	color: #00008B;
	border: 2px solid #00008B;
	border-radius: 10px;
	font-size: 15px;
	padding: 15px;
}
#joinform tfoot #submit11 {
	font-weight: bold;
	background-color: #00008B;
	color: white;
	border: 2px solid #00008B;
	border-radius: 10px;
	font-size: 15px;
	padding: 15px;
}