@charset "UTF-8";
#productMgt a:link{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:visited{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:active{color: black; text-decoration: none; font-weight: bold;}
#productMgt a:hover{color: black; text-decoration: none; font-weight: bold;}
#productMgt {
	margin: 50px auto;
	width: 1000px;
	height: 1000px;
}
#productMgt #page{
	text-align: center;
}
#productMgt table {
	margin: 0 auto;
	width: 1000px;
	border-collapse: collapse;
}
#productMgt .title{
	padding: 25px;
	text-align: center;
	font-size: 25px;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
}
#productInForm {
	margin: 50px auto;
	width: 1000px;
	height: 1000px;
}
#productInForm table {
	margin: 0 auto;
	width: 1000px;
	border-collapse: collapse;
}
#productInForm .title{
	padding: 25px;
	text-align: center;
	font-size: 25px;
	background-color: #E5E8FF;
	font-family: sans-serif;
	border: 1px solid #cccccc;
}
#productMgt #productCnt{
	text-align: right;
	padding: 20px 0 10px 0; 
}
.border td{
	border: 1px solid #cccccc;
	height: 60px;
	text-align: center;
	width: 600px;
}
.border th {
	height: 40px;
	text-align: center;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
}
.border1 td{
	border: 1px solid #cccccc;
	height: 40px;
	text-align: center;
	width: 600px;
	background-color: #FFFFEE;
}
.border1 th {
	height: 40px;
	width: 160px;
	text-align: center;
	background-color: #00008B;
	color: white;
	font-family: sans-serif;
	border: 1px solid black;
}
.border2 td{
	border: 1px solid #cccccc;
	height: 60px;
	text-align: center;
	width: 600px;
}
.border2 td input{
	width: 500px;
	height: 30px;
}
.border2 td select{
	width: 250px;
	height: 30px;
}
.border2 th {
	border: 1px solid #cccccc;
	height: 40px;
	width: 160px;
	text-align: center;
	background-color: #E5E8FF;
	font-family: sans-serif;
}
.border1 #dcol1 {
	height: 170px;
}
.border .pco1 , .border .pco7{
	width: 150px;
}
.border .pco4 , .border .pco5{
	width: 180px;
}
.border .pco2 {
	text-align: left;
}
.border .pco4 {
	text-align: right;
}
.border .pco3 {
	width: 240px;
	text-align: left;
}
.border .pco6 {
	width: 400px;
}
.proButton {
	text-align: center;
	padding: 20px;
}
.proButton button{
	font-weight: bold;
	background-color: #237AF6;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}
.proButton input{
	font-weight: bold;
	background-color: #237AF6;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}
#productDetail {
	margin: 50px auto;
	width: 1000px;
	height: 1200px;
}
#productDetail table {
	margin: 0 auto;
	width: 900px;
	border-collapse: collapse;
}
#productDetail .title{
	padding: 25px;
	text-align: center;
	font-size: 25px;
	background-color: #00008B;
	color: white;
}
#productDetail #detailImg {
	text-align: center;
	border: 1px solid #cccccc;
	border-collapse: collapse;
}
#productDetail #detailImg td{
	padding: 15px;
}
textarea {
	resize: none;
}
#ProList {
	margin: 20px auto 0;
	width: 1000px;
	height: 1800px;
}
#ProList table {
	width: 1000px;
	padding: 20px;
}
#ProLine {
	width: 1000px;
}
#ProLine td{
	border-bottom: 1px solid #dddddd; 
	border-top: 1px solid #dddddd; 
}
#ProCol1 {
	width: 140px;
	height: 190px;
}
#ProCol1 img{
	width: 140px;
	height: 190px;
}
#ProCol2 {
	width: 600px;
}
#ProCol3 {
	width: 150px;
}
#ProCol3 #btn1{
	width: 110px;
	height: 40px;
	border-radius: 7px;
	background-color: #00008B;
	color: white;
	font-weight: bold;
	font-family: fantasy;
}
#ProCol3 #btn2{
	width: 110px;
	height: 40px;
	border-radius: 7px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-family: fantasy;
}
#bookname {
	font-weight: bold;
}
#bookwriter {
	font-size: 14px;
}
#bookprice {
	font-weight: bold;
}
#page {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}
#page td {
	height: 50px;
}
#bookDetail {
	margin: 20px auto;
	width: 1000px;
	height: 1000px;
}
#bookDetail table{
	width: 1000px;
	height: 800px;
}
#bookBottom {
	width: 100%;
	height: 72px;
	background-color: #dddddd;
	position: fixed;
	bottom: 0; 
}
#bookBottom table{
	width: 100%;
	height: 65px;
	text-align: center;
}
#bookCol1 {
	padding-left: 300px;
	text-align: right;
}
#bookCol1 table {
	width: 200px;
}
#bookCol1 img {
	width: 35px;
}
#bookCol1 #bookNum1 {
	font-weight: bold;
	padding-right: 20px;
}
#bookCol1 #bookNum2 {
	font-weight: bold;
	width: 50px;
}
#bookCol1 #bookNum2 input {
	font-size: 18px;
	border: none;
	width: 50px;
	text-align: right;
	background: #dddddd;
}
#bookCol1 #bookNum2 input:focus {outline: none;}
#bookCol1 img {
	width: 35px;
}
#bookCol2 {
	width: 600px;
}
#bookBottom .price {
	font-size: 25px;
	font-weight: bold;
	color: #00008B;
	background-color: #dddddd;
	border: none;
}
#bookCol3 {
	width: 600px;
}
#bookCol3 #bookBtn1 {
	font-weight: bold;
	background-color: white;
	border-radius : 7px;
	color: #00008B;
	font-size: 22px;
	width: 190px;
	height: 55px;
}
#bookCol3 #bookBtn2 {
	font-weight: bold;
	background-color: #00008B;
	border-radius : 7px;
	color: white;
	font-size: 22px;
	width: 190px;
	height: 55px;
}
#bkDe {
	color: #00008B;
	font-weight: bold;
	font-size: 25px;
	height: 100px;
	width: 200px;
}
#bkDe1 {
	height: 250px;
	background-color: #FFFFE2;
}
#bkDe1 td {
	padding: 30px;
}
#bkcon1 {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	padding: 30px;
}
#bkcon1 img{
	width: 250px;
	height: 400px;
}
#bkcon2 {
	font-weight: bold;
	font-size: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#bookCol2 input:focus {outline: none;}
#bkcon {
	background-color: #F3F5FF;
}
#bkName {
	color: #00008B;
	height: 50px;
	text-align: left;
	font-size: 25px;
}
#bkName1 {
	height: 50px;
}
#bkstock {
	display: inline;
}