<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.product.dao.ProductDAO">
	<select id="getProductCnt" resultType="int">
		SELECT COUNT(P_NO) FROM PRODUCT
	</select>
	
	<select id="getProductList" resultType="pdto">
		SELECT P_NO, STOCK, PRICE, P_NAME, DETAIL, PR_DATE, IMAGE, PATH, STATE
		FROM PRODUCT
	</select>
	
	<insert id="insertProduct" parameterType="pdto">
		<selectKey keyProperty="p_no" order="BEFORE" resultType="int">
			SELECT NVL(MAX(p_no),0)+1 FROM PRODUCT
		</selectKey>
		INSERT INTO PRODUCT(P_NO, STOCK, PRICE, P_NAME, DETAIL, PR_DATE, IMAGE, PATH, STATE)
		VALUES(#{p_no}, #{stock}, #{price}, #{p_name}, #{detail}, SYSDATE, #{image}, #{path}, #{state})
	</insert>
	
	<select id="getProduct" resultType="pdto">
		SELECT P_NO, STOCK, PRICE, P_NAME, DETAIL, PR_DATE, IMAGE, PATH, STATE
		FROM PRODUCT
		WHERE P_NO=#{p_no}
	</select>
</mapper>