<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- aliaes - short name setting bvo, pvo-->
    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="map" type="java.util.Map" />
         <typeAlias alias="mdto" type="com.book.member.dto.MemberDTO" />
         <typeAlias alias="pdto" type="com.book.product.dto.ProductDTO" />
         <typeAlias alias="cdto" type="com.book.client.dto.ClientDTO" />
         <typeAlias alias="odto" type="com.book.order.dto.OrderDTO" />
         <typeAlias alias="chdto" type="com.book.chat.dto.ChatDTO" />
         <typeAlias alias="cto" type="com.book.cart.dto.CartDTO" />
         <typeAlias alias="pto" type="com.book.pay.dto.PayDTO" />
     </typeAliases>	
</configuration>
